<div class="box">
  <div class="box-field">
    <h2 class="search-title"><i class="fas fa-check"></i> 条件から探す</h2>
    <div class="search-field">
      <%= form_tag({controller:"posts", action:"index"}, method: :get) do %>
        <div class="search-border">
          <div class="search-box"><i class="fas fa-pen"></i> フリーワード</div>
            <%= text_field_tag :search, "", class: "search-input", placeholder: "名前、役職、コース、内容" %>
        </div>
        <div class="search-field-box">
          <div class="search-border">
            <div class="search-box"><i class="fas fa-tag"></i> タグ選択</div>
            <%= select_tag :tag_id, options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]), {class: 'search-input tag', include_blank: 'タグ絞り込み'} %>
          </div>
        </div>
        <div class="search-btn-field">
          <%= submit_tag '検索する', class: "search_btn"  %>
        </div>
      <% end %>
    </div>
  </div>
</div>