<h2 class="title">
  <%= @post.user.username %>
</h2>

<div class="show-box">
  <div class="user-tag">
    <div class="tag-flex show-flex">
      <% @post.tags.each do |tag| %>
        <div class="tag-name">
          <%= tag.name %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="show-geek">
    <p class="show-title">【Geek史】</p>
    <div class="show"><%= simple_format @post.geek %></div>
  </div>
  <div class="btn-flex">
    <% if user_signed_in? && current_user.id == @post.user_id %>
      <%= button_to post_path(@post.id), method: :delete, class: "btn" do %>
        <i class="fas fa-trash"></i><span> 削除する</span>
      <% end %>
    <% end %>
  </div>
</div>