// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

footer {
  color: rgb(237, 240, 248);
  height: 30px;
  background-color: rgb(56, 56, 56);
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}