// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.title {
  width: 20%;
  margin: 2rem auto;
  text-align: center;
  position: relative;
  border-bottom: double 5px rgb(147, 179, 255);
}

.post-container {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 5rem;
}

.post-card {
  background-color: rgb(255, 255, 255);
  margin: 1.3rem;
  width: 30%;
  &:hover {
    box-shadow: 0 5px 5px 0 rgba(13, 43, 52, 0.5);
  }
}

.etc {
  height: 1rem;
  margin-top: 0.9rem;
  color: rgb(60, 145, 235);
}

.card-btn {
  width: 100%;
  text-align: center;
  margin: 1rem auto;
  
  .card-link {
    text-decoration: none;
    color: #000;
  }
  
  .card-about {
    margin: 1rem 2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }
  
  .card-show {
    width: 7rem;
    height: 2.3rem;
    margin: 0.5rem;
    margin-top: 1rem;
    border: solid;
    border-radius: 5px;
    &:hover {
      cursor: pointer;
      background-color: rgb(123, 215, 252);
    }
  }
}