// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.card-user {
  .position {
    display: flex;
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
    text-align: center;
    .user-region {
      width: 35%;
      padding: 0.2rem 0;
      &.web {
        background-color: #6BAFE3;
      }
      &.game {
        background-color: #E99C45;
      }
      &.ios {
        background-color: #D8696D;
      }
    }
    .user-postion {
      width: 35%;
      padding: 0.2rem 0;
      &.web {
        background-color: #E99C45;
      }
      &.game {
        background-color: #D8696D;
      }
      &.ios {
        background-color: #6BAFE3;
      }
    }
    .user-course {
      width: 35%;
      padding: 0.2rem 0;
      &.web {
        background-color: #D8696D;
      }
      &.game {
        background-color: #6BAFE3;
      }
      &.ios {
        background-color: #E99C45;
      }
    }
  }
  
  .user-content {
    display: flex;
  }
  
  .user-image {
    width: 5.5rem;
    height: 5.5rem;
    margin-left: 1rem;
    margin-right: 2rem;
    border-radius: 50%;
    &.web {
      border: solid rgb(255, 129, 129);
    }
    &.game {
      border: solid rgb(109, 177, 255);
    }
    &.ios {
      border: solid rgb(255, 196, 119);
    }
  }
  
  .user-info {
    width: 100%;
    padding-top: 1rem;
    .user-name {
      font-size: 1.3rem;
      color: #000;
    }
  }
}

.user-tag {
  .tag-flex {
    display: flex;
    flex-wrap: wrap;
  }
  .tag-name {
    text-align: center;
    margin-top: 0.2rem;
    margin-right: 0.5rem;
    padding: 0.1rem 0.2rem;
    color: rgb(42, 104, 171);
    background-color: #fff;
    border: 1px solid rgb(60, 145, 235);
    border-left: 5px solid rgb(60, 145, 235);
  }
}